
**/node_modules/
.node_modules

node_modules/
# Log files
*.log

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
.env

/.env
.env/
.env
eye_health_system_json.json/
/eye_health_system_json.json
PROJECT_STATUS.md